<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.trucktrack.core" />

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:mail.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="termsAcceptanceFilter" class="com.trucktrack.web.filter.TermsAcceptanceFilter">
		<property name="userDAO" ref="userDAO" />
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="commonDAO" class="com.trucktrack.core.common.dao.CommonDAO">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="userDAO" class="com.trucktrack.core.module.user.dao.impl.UserDAO" parent="commonDAO" />
	
	<bean id="customerDAO" class="com.trucktrack.core.module.customer.dao.impl.CustomerDAO" parent="commonDAO">
	</bean>

	<bean id="cargoDAO" class="com.trucktrack.core.module.cargo.dao.impl.CargoDAO" parent="commonDAO">
	</bean>
	
	<bean id="vehicleDAO" class="com.trucktrack.core.module.vehicle.dao.impl.VehicleDAO" parent="commonDAO">
	</bean>

	<bean id="geoLocationDAO" class="com.trucktrack.core.module.geolocation.dao.impl.GeoLocationDAO" parent="commonDAO">
	</bean>
	
	
	<bean id="customerService" class="com.trucktrack.core.module.customer.service.impl.CustomerService" />
		
	
	<bean id="cargoValidator" class="com.trucktrack.web.validator.CargoValidator">
	</bean>

	<bean id="vehicleValidator" class="com.trucktrack.web.validator.VehicleValidator">
	</bean>

	<bean id="customerValidator" class="com.trucktrack.web.validator.CustomerValidator">
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	    <property name="host" value="${mail.host}" />
	    <property name="javaMailProperties">
	        <props>
	            <prop key="mail.transport.protocol">${mail.protocol}</prop>
	            <prop key="mail.smtp.starttls.enable">${mail.starttls.enable}</prop>
	        </props>
	    </property>
	    
	    <!-- 
	    <property name="port" value="${mail.port}" />
	    <property name="username" value="${mail.username}" />
	    <property name="password" value="${mail.password}" />
	    <property name="javaMailProperties">
	        additional properties specific to JavaMail
	        <props>
	            <prop key="mail.transport.protocol">${mail.protocol}</prop>
	            <prop key="mail.smtp.auth">${mail.auth}</prop>
	            <prop key="mail.smtp.starttls.enable">${mail.starttls.enable}</prop>
	        </props>
	    </property> -->
	</bean>
	
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>
		
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="txCustomerService" expression="execution(* com.trucktrack.core.module.customer.service.impl.CustomerService.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txCustomerService"/>
	</aop:config>

	<!-- Initialization for TransactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />    
	</bean>

</beans>